@model List<asp.netproject.Models.record>
@{
    ViewBag.Title = "Employee";
    int sn = 0;
}
<a href="@Url.Action("record","Record")">Add new record</a>

<h2>Employee</h2>

<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
       
    </tr>
    @foreach (var data in Model)
    {
<tr>
    <td>@(data.id)  </td>
    <td>@(data.Firstname)  </td>
    <td>@(data.Lastname)  </td>
    <td>@(data.Address)  </td>
    @*,name=data.name*@
    <td><a href="@Url.Action("Edit", new {id=data.id})">Edit</a></td>
    <td><a href="@Url.Action("Deletedata", new {id=data.id})">Delete</a></td>

</tr>
    }

</table>



