@model List<asp.netproject.Models.employee_salary_details>

@{
    ViewBag.Title = "Salary";
}

<h2>Salary</h2>
<style>
    .table, tb {
        border: 1px solid black;
    }
</style>
@using (Html.BeginForm("Search", "Salary", FormMethod.Post))
{
    @*<input type="date" name="dat" value="" class="datee" />
        <input type="submit" value="search" class="button" />
        <br />
        <br />*@
    <label>From:</label>
    <input type="date" name="begindate" />
    <label>To:</label>
    <input type="date" name="enddate" />
    <br />
    <label>Employee name:</label>
    <input type="text" name="employeename"/>
    <input type="submit" value="search" class="btn-success" />


}
<table class="table">
    <tr>
        <th>
            SN
        </th>
        <th>
            Employee Name
        </th>
        <th>
            Employee Id
        </th>
        <th>
            Salary Amount
        </th>
        <th>
            Paid Date
        </th>
        <th>
            Action
        </th>
    </tr>
    @{ int sn = 0; }
    @foreach (var data in Model)
    {
        <tr>
            <td>@(++sn)</td>
            <td>@(data.record.Firstname)</td>
            <td>@(data.employee_id)  </td>
            <td>@(data.salary_paid)  </td>
            <td>@(data.paid_date)  </td>
            @*,name=data.name*@
            <td><a href="@Url.Action("Editsalary", new {id=data.id})">Edit</a></td>
            <td><a href="@Url.Action("Delete", new {id=data.id})">Delete</a></td>

        </tr>

    }
    <tr>
        <td colspan="3">Total</td>
        <td>
            @(Model.Sum(x=>x.salary_paid))
        </td>
    </tr>
</table>

